streamlit==1.22.0
psycopg2-binary==2.9.6
python-dotenv==1.0.0
pyjwt==2.6.0
numpy==1.24.3
matplotlib==3.7.1
pandas==1.5.3
requests==2.26.0
beautifulsoup4==4.10.0
flask==2.1.2
flask-cors==3.0.10
nest-asyncio==1.5.5
sounddevice==0.4.4
soundfile==0.10.3.post1
websockets==10.3
django-page-cms
flask
flask-cors
matplotlib
nest-asyncio
numpy
pandas
psycopg2-binary
pyjwt
sounddevice
soundfile
streamlit
websockets
psutil
plotly
requests
aiohttp
flask-socketio